body{
    background-color: lightgoldenrodyellow;
    font-family: sans-serif, Arial, "Arial Hebrew";
}

header{
    background-size: cover;
    background-position: center;
    height: 380px;
    text-align: center;
    padding: 100px 0;
    color: black;
    border: 2px solid black;
}

.HomePage1{
    background-size: 1500px 1500px ;
}

nav ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

img{
    border-radius: 60%;
    max-height: 150px;
    max-width: 200px;
}

#Menu{
    list-style: none;
    display: flex;
    overflow: hidden;
    background-color: #333;
    margin: 5px 0 0 5px;
    width: 81.25%;
    height: 50px;
}

ul#Menu li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

#Event-Details{
    font-family: sans-serif, Arial;
    font-weight: 500;
    font-size: 13px;
    float: right;
    background: #333333;
    padding: 20px;
    width: 500px;
    line-height: 1.7em;
    color: white;
}

#Event-Details p {
    width: 400px;
    height: 100px;
    overflow: auto;
}

h1 { color: wheat;
    font-family: "Great Vibes", cursive;
    font-size: 50px; line-height: 160px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    text-shadow: 0 1px 1px #333333; }